<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        If no, you can check it 
        <a class="font-weight-bold" href="/bmi">here!</a>
    </span>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
